.header {
    width: 100%;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head > a  {
    font-size: 2em;
    text-decoration: none;
    color: black;
}

.head > a:hover {
    text-shadow: -1px -3px 0 #05EBED, 1px -1px 0 #05EBED, -1px 1px 0 #E50712, 1px 3px 0 #E50712;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

}

.tabs > a > p {
    background-color: white;
    color:black;
    font-size: 1.5em;
    /*padding: .25em;*/
}

.tabs > a > p:hover {
    background-color: black;
    color:white;
}
