.hobbies-grid {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(6rem, 2fr));*/
    grid-template-columns: repeat(auto-fit, 450px);
    grid-auto-rows: 200px;
    row-gap: 1rem;
    padding: 0 3em;
    resize: both;
    /*overflow: auto;*/
    justify-content: center;

    /*border: black 1px solid;*/
}

.hobbies-grid > div {
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 1rem auto;
    width: 80%;
    border: 2px solid black;
}

.hobbies-grid > div:hover {
    transform: scale(1.1);
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 79%, rgba(0,0,0,0.8982186624649859) 100%);
    color: white;
}

.hobbies-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: 1rem 0;
}

.hobbies-info > div {
    height: 33%;
    /*border: black 1px solid;*/
}

.projects-content {
    display: flex;
    margin: 3rem 0;
}

.food-logo {
    height: 70px;
    width: 70px;
    border:black 1px solid;
}

.MuiCard-root {
    padding: 10px;
    margin-bottom: 20px;
}

.hobbies-container {
    flex-grow: 1;
    margin: auto 4rem;
}

.MuiCard-root:hover {
    transform: scale(1.1);
}

.hobbies-tabs {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
}

.hobbies-tabs > span {
    background-color: whitesmoke;
    font-size: 1.33rem;
}

.hobbies-tabs > span:hover {
    background-color: black;
    color: white;

}
