@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/


*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: "Baskerville", sans-serif;
    /*border: black 1px solid;*/
}

/*body, html {*/
/*    overflow: hidden;*/
/*}*/

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #f1f1fc;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100dvh;
    width: 100dvw;
    margin-left: auto;
    margin-right: auto;
}

.tabs {
    display: flex;
    justify-content: center;
}
.tabs-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tabs > ul > li {
    display: inline;
    width: fit-content;
    text-decoration: none;
    justify-content: center;
    margin: 2rem;
    font-size: 1.5rem;
}

.tabs > ul > li:hover {
    background-color: black;
    color: white;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: 1.5rem;
}

/*.home-content > img {*/
/*    height: 100dvh;*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*}*/

.home-grid > ul > li:hover {
    background-color: black;
    color: white;
}

.name-tag {
    font-size: 5rem;
     /*writing-mode: vertical-rl;*/
    font-family: "JetBrains Mono", math;
    /*background: linear-gradient(to left, white, black, white);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*width: fit-content;*/
}

.name-tag:hover {
    transform: skewY(-.1rad);
}

.footer {
    background-color: skyblue;
    height: 50px;
    font-size: 1.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "JetBrains Mono", math, sans-serif;
}

.external-links {
    display: grid;
    grid-template-columns: repeat(3, 85px);
    justify-content: center;
    align-items: center;
    margin: 1dvw;
    column-gap: 2dvw;
}


.external-links > div:hover {
    transform: scale(1.2);
}

.external-links > div > a > img {
    background-size: 20px 30px;
    viewBox: 0 0 100 100;
}

.logo-sizes {
    height: 70%;
    width: 70%;
}

