.library-container {
    margin: 2rem 2rem;
}

.library-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 1em;
    padding: 1em;
}

@media (max-width: 1200px) {
    .library-grid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        height: 120px;
    }
}

@media (max-width: 768px) {
    .library-grid {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        height: 120px;
    }
}

@media (max-width: 480px) {
    .library-grid {
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
        height: 120px;
    }
}

.library-cell-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: pink;
    font-size: .8em;
}

.library-img {
    width: 100%;
    background-color: black;
}

.center {
    display: flex;
    justify-content: center;
}
