.library-container {
    margin: 2rem 2rem;
}

.library-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-row-gap: 1em;
}


.library-cell-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 180px;
    background-color: pink;
    font-size: .8em;
}

.library-img {
    width: 120px;
    height: 180px;
    background-color: black;
}

.center {
    display: flex;
    justify-content: center;
}
