.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    padding: 0 3em;
    resize: both;
    overflow: auto;

}

.projects-grid > div {
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 1rem auto;
    width: 80%;
}

.projects-grid > div:hover {
    transform: scale(1.1);
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 79%, rgba(0,0,0,0.8982186624649859) 100%);
    color: white;
}

.projects-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    padding: 1rem 0;
}

.projects-content {
    display: flex;
    margin: 3rem 0;

}

.MuiCard-root {
    padding: 10px;
    margin-bottom: 20px;
}

.projects-container {
    flex-grow: 1;
}

.MuiCard-root:hover {
    transform: scale(1.1);
}

.demo-slider {
    width: 80%;
    margin: auto;
}

.slick-prev:before,
.slick-next:before {
    color: red!important;;
}
