.projects {
    display: flex;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
}

.proj-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, .8fr) );
    grid-template-rows: repeat(auto-fit, 300px);
}

.proj-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.proj-cell:hover {
    transform: scale(.8);
    box-shadow: 10px 5px 5px black;
}

.proj-logo {
    height: 160px;
    width: 160px;
}

.popup-title {
    display: flex;
    justify-content: center;
}

.header-img {
    grid-template-areas: 'myArea .' 'myArea .';
    display: grid;
    width: 200px;
    height: 200px;
    grid-template-columns: 400px 100%;
}

.first-column {
    grid-area: myArea;
}
